{% extends 'layout.html.twig' %}
{% block content %}
    <div class="container">
        <div class="row">
            {% set cases = 12/(clocks|length) %}
            {% for clock in clocks %}
            <div class="col-xs-{{ cases }}">
                {{ include('clocks/partials/clock.html.twig', { 'clock': clock }) }}
            </div>
            {% endfor %}

            <div class="row">
                <div class="col-xs-12">
            {{ form_start(meetingForm) }}
            {{ form_widget(meetingForm) }}
            <button type="submit" class="btn btn-primary">Convert</button>
            {{ form_end(meetingForm) }}
                </div>
            </div>
        </div>
    </div>
{% endblock content %}