{% extends 'layout.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <link rel="stylesheet" href="{{ asset('/css/clock.css') }}">
{% endblock %}
{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript" src="{{ asset('/js/clock.js') }}"></script>
{% endblock %}

{% block content %}
        <div class="row">
            {% set cases = 12/(clocks|length) %}
            {% for clock in clocks %}
                <div class="col-xs-{{ cases }}">
                    {{ include('clocks/partials/clock.html.twig', { 'clock': clock }) }}
                </div>
            {% endfor %}

            <div class="row">
                <div class="col-xs-6">
                {{ form_start(meetingForm) }}
                    {{ form_widget(meetingForm) }}
                    <button type="submit" class="btn btn-primary">Convert</button>
                {{ form_end(meetingForm) }}
                </div>
                <div class="col-xs-6">
                    <div class="convertedTime">
                        Local Time :
                    {% if convertedTime is defined %}
                        {{ convertedTime }}
                    {% endif %}
                    </div>
                </div>

            </div>
        </div>
    <script type="text/javascript">
        {% for clock in clocks %}
        initClock('{{ clock.city }}', {{ clock.formattedOffset }});
        {% endfor %}
    </script>
{% endblock content %}